<div class="container">
  <div class="tile is-ancestor">
    <div class="tile is-4 is-vertical is-parent">
      <div class="tile is-child box">
        <p class="title is-6">Taken From</p>
        <p><a href="https://www.theodinproject.com/courses/ruby-on-rails/lessons/authentication">
          https://www.theodinproject.com/courses/ruby-on-rails/lessons/authentication</a></p>
      </div>
      <div class="tile is-child box">
        <p class="title is-6">See for yourself</p>
        <p><a href="#">Check out the code on Github</a></p>
      </div>
    </div>
    <div class="tile is-parent">
      <div class="tile is-child box">
        <p class="subtitle"> A simple message board app<p>
        <ul>
          <li><p> - this site was built using Ruby on Rails 6.0 </p></li>
          <li><p> - styling was done through <a href="https://bulma.io/">Bulma</a> </p></li>
          <li><p> - authentication and users were handled by <a href="https://github.com/heartcombo/devise">Devise</a></p></li>
        </ul>
        <hr>
        <p> * This app allows members who are signed up to post messages, like and comment on posts, and follow other fellow
          members</p>
        <p> * This is a mock message board, emails won't be confirmed for sign up,
           all that is needed is a valid email prototype <em>'example@email.com'</em>
           and a  minimum 6 character long password</p>
         <p> * Or.. click <a href="/pages/seeded_accounts">HERE</a> to check out seeded accounts to use for logging ins</p>
         <p> ** photos for seeded accounts were taken from https://randomuser.me/photos </p> 
      </div>
    </div>
  </div>
</div>
