<div class="columns is-centered">
  <div class="column is-4">
    <aside class="menu">
      <p class="menu-label">
         Seeded Members
      </p>
      <ul class="menu-list">
        <li><a>email: user0@email.com | password: topsecret</a></li>
        <li><a>email: user1@email.com | password: topsecret</a></li>
        <li><a>email: user2@email.com | password: topsecret</a></li>
        <li><a>email: user3@email.com | password: topsecret</a></li>
        <li><a>email: user4@email.com | password: topsecret</a></li>
        <li><a>email: user5@email.com | password: topsecret</a></li>
        <li><a>email: user6@email.com | password: topsecret</a></li>
        <li><a>email: user7@email.com | password: topsecret</a></li>
        <li><a>email: user8@email.com | password: topsecret</a></li>
        <li><a>email: user9@email.com | password: topsecret</a></li>
      </ul>
    </aside>
  </div>
</div>
