<div id="mask"></div>
<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class='box'>
      <a class="close-modal" href="javascript:void(0)">
        <i class="fa fa-times"></i>
      </a>
      <%= render 'comments/form' %>
    </div>
  </div>
</div>
<!-- END MODAL BOX -->
<a class="level-item post-buttons" aria-label="comment">
  <span class="open-modal">
    <i class="far fa-comment"></i>
  </span>
</a>
