<div class="column is-quarter">
  <nav class="panel">
    <p class="panel-heading">
      Trending
    </p>
    <br>
    <% data =  most_active_member(@members) %>
    <h2 class="subtitle trending-title">Most Active Members</h2>
    <% data.each do |member| %>
      <div class="notification is-primary is-light">
        <a class="trending-link">
          <%= member[0] %>
        </a>
      </div>
    <% end %>
    <br>
    <% data = most_active_post(@posts) %>
    <h2 class="subtitle trending-title">Top Posts</h2>
    <% data.each do |post| %>
      <div class="notification is-primary is-light">
        <a class="trending-link" href="posts/<%= post[0] %>">
          "<%= post[1][1] %>"
        </a>
      </div>
    <% end %>
  </nav>
</div>
