
<div class="column is-quarter">
  <div class="card">
    <div class="card-content">
      <p class="title is-6">
        “Check that attitude at the door.”
      </p>
      <p class="subtitle is-6">
        Shirley
      </p>
      <p class="title is-6">
        “Check the door before you go through it, Shirley.”
      </p>
      <p class="subtitle is-6">
        Abed
      </p>
    </div>
  </div><br>


  <div class="card">
    <div class="card-content">
      <p class="title is-6">
        "If somebody doesn't tell me I'm going to start screaming."
      </p>
      <p class="subtitle is-6">
        Michael Scott
      </p>
    </div>
  </div><br>


  <div class="card">
    <div class="card-content">
      <p class="title is-6">
        "Maybe I am a total bitch. Ever think about that?"
      </p>
      <p class="subtitle is-6">
        Blair Underwood
      </p>
    </div>
  </div>
</div>
