<div class="modal-background"></div>
<div class="modal-card">
  <header class="modal-card-head">
    <p class="modal-card-title">Members Only</p>
    <button class="delete modal-delete" aria-label="close"></button>
  </header>
  <section class="modal-card-body">
    <div class="tile is-parent">
      <div class="tile is-child box">
        <p class="subtitle"> A simple message board app where only users can see who says what! Sign up below..<p>
        <hr>
        <p> * .. or click <a href="/pages/seeded_accounts">HERE</a> to check out seeded accounts to use for logins</p>
      </div>
    </div>
  </section>
  <footer class="modal-card-foot">
    <a href="<%= new_member_registration_path %>"
      <button class="button">Join</button>
    </a>
    <a href="<%= new_member_session_path %>"
      <button class="button">Already a member?</button>
    </a>
    <button class="button modal-delete">Cancel</button>
  </footer>
</div>
