<div class="modal-background"></div>
<div class="modal-card">
  <header class="modal-card-head">
    <p class="modal-card-title">Gossip away</p>
    <button class="delete modal-delete" aria-label="close"></button>
  </header>
  <section class="modal-card-body">
    <div class="columns">
      <div class="column is-4">
        <div class="card">
          <div class="card-content">
            <p class="title is-5">
              “How many of you have ever felt personally victimised by Regina George?”
            </p>
            <p class="subtitle">
              Ms. Norbury
            </p>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="card">
          <div class="card-content">
            <p class="title is-5">
              "Three Words. Eight Letters. Say It And I'm Yours."
            </p>
            <p class="subtitle">
              Blair Underwood
            </p>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="card">
          <div class="card-content">
            <p class="title is-5">
              "You Are No One Until You're Talked About."
            </p>
            <p class="subtitle">
              Dan Humphrey
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="notification is-primary is-light">
      Have you ever wished you were in the Mean Girls Clique? Or what about living in the
      Upper East Side being the talk of the town? ... Well it probably won't happen here, but sign up
      and you can join the <em>Gawkers R US</em>! Create posts of subtext, like and comment, and no one
      but your fellow members will know who says what? Cool right? Let's relive high school.
    </div>
  </section>
  <footer class="modal-card-foot">
    <a href="<%= new_member_registration_path %>"
      <button class="button">Join the clique</button>
    </a>
    <a href="<%= new_member_session_path %>"
      <button class="button">Already a member?</button>
    </a>
    <button class="button modal-delete">Cancel</button>
  </footer>
</div>
