<section class="section">
  <div class="container">
    <div class="columns">
      <%= render 'quotes' %>
      <%= render 'feed' %>
      <% if member_signed_in? %>
        <%= render 'profile' %>
      <% else %>
        <%= render 'trending' %>
      <% end %>
    </div>
  </div>
</section>
