<div class="section">
  <div class="columns is-centered">
    <div class="column is-6">
      <h1 class="title is-4"><%= @post.message %></h1>
      <h1 class="title is-5"><%= @post.comments.size %> Comments</h1>
      <%= render partial: 'posts/comments', collection: @post.comments.reverse %>
    </div>
  </div>
</div>
