/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 $tabs-link-hover-color: hsl(171, 100%, 41%);
 $tabs-link-hover-border-bottom-color: hsl(171, 100%, 41%);
 $button-border-color: none;
 $button-hover-border-color: none;
 $button-hover-color: hsl(171, 100%, 41%);
 $card-background-color: whitesmoke;

 @import "bulma";
 @import "font-awesome";

.button-is-following {
  padding-right: 16px;
}
.button-not-following {
  padding-right: 33px;
}
.follow-tag {
  margin-top: 4px;
}
.post-time {
  font-size: .7rem;
}
.trending-title {
  color:black;
  text-align: center;
}
.navbar-menu {
  font-size: small;
}
.navbar-brand {
  font-size: 3rem;
}

.notification:not(:last-child) {
  margin-bottom: 0;
}
.notification a:not(.button):not(.dropdown-item) {
    color: currentColor;
    text-decoration: none;
}
.dropdown-content {
  color:black;
}
.comment-box {
  margin-left: 5px;
}

.tags-active {
  display: none;
}

// View Comments
.time-ago {
  font-size: .6rem;
}

@media only screen and (max-width: 1000px) {
  /* For mobile phones: */
  .button-is-following {
    padding-right: 0px;
  }
  .button-not-following {
    padding-right: 0px;
  }
}
