// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.profile-container {
  padding-top: 100px;
}
.member-profile-pic {
  margin-right: 80px;
}
.count {
  margin-right: 5px;
}
.media-active {
  display: none;
}
